@model SocialBookmarkingReborn.Models.Bookmark

<h2 class="text-center"> Edit Your Bookmark </h2>

<div class="container mt-4">

    <div class="row">

        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "Edit", controllerName: "Bookmarks",

            method: FormMethod.Post, routeValues: new { id = Model.Id }))

            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Title", "Bookmark Title")

                <br />

                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessage("Title", null, new { @class = "text-danger" })

                <br />

                @Html.Label("Description", "Bookmark Description [Optional]")

                <br />

                @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessage("Description", null, new { @class = "text-danger" })

                <br />

                // nu putem modifica continutul ca ar fi cam ciudat

                <div class="d-flex justify-content-center">

                    <button class="btn btn-primary" type="submit"> Save Changes </button>

                </div>

            }

        </div>

    </div>

</div>