<!-- vrem un buton de adaugare a bookmark-urilor,
     fixat in partea de dreapta jos a ecranului
-->
@*
<a href="/bookmarks/new" class="btn-lg rounded-circle addBookmark">
    <i class="bi bi-plus"></i>
</a>
*@

<div class="add-category-wrapper d-flex justify-content-end addBookmark">
    <a class="btn btn-outline-secondary rotating-flower fs-2 me-4"
       href="/bookmarks/new"
       data-toggle="tooltip" data-bs-placement="left"
       title="Grow Seed"> <i class="bi bi-patch-plus w-100 h-auto"></i> </a>
</div>

<br />

<div id="beforeBkmk">

    @* motorul de cautare *@
    <form method="GET">
        <div class="input-group rounded-pill py-1 px-2 mr-1 form_search our_form">
            <input  type="text"
                   class=" search_input form-control bg-transparent form_input"
                   placeholder="Search Bookmarks" name="search"
                   value="@ViewBag.SearchString">
            <span class="input-group-append">
                <button class="input-group-text bg-transparent border-0 ml-n5"
                        type="submit">
                    <i class="bi bi-search search_icon form_icon"></i>
                </button>
            </span>
        </div>
    </form>

    <br /><br />

    <div class="d-flex justify-content-between">

        <!-- dropdown pt filtre -->
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                    id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                Filters
            </button>
            <ul class="dropdown-menu rounded-2" aria-labelledby="dropdownMenu">
                <li>
                    <a class="dropdown-item" href="/home/false"> Recent </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/home/true"> Popular </a>
                </li>
            </ul>
        </div>

        @* afisarea paginata *@

        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination">

                    @* prima pagina *@
                    <li class="page-item">
                        <a class="page-link"
                           href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                            <span aria-hidden="true"> &laquo; </span>
                        </a>
                    </li>

                    @for (int i = 1; i <= ViewBag.lastPage; i++)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               href="@ViewBag.PaginationBaseUrl=@i"> @(i) </a>
                        </li>
                    }

                    @* ultima pagina *@
                    <li class="page-item">
                        <a class="page-link"
                           href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)"
                           aria-label="Next">
                            <span aria-hidden="true"> &raquo; </span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>

    </div>

</div>

@* vrem sa ne afiseze userul si in index? sau doar cand dam show?
   oricum vrem sa afisam userName-ul, nu id-ul =)
*@

<div class="bookmarks">

    @foreach (Bookmark bkmk in ViewBag.Bookmarks)
    {
        <!-- oriunde apasam pe bookmark => mergem in show -->
        <div onclick="goToBkmkShow(@(bkmk.Id))" class="card cards bkmk">

            @if (bkmk.Image.StartsWith("http"))
            {
                <div class="embed-responsive d-flex justify-content-center w-100 h-auto">
                    <iframe class="embed-responsive-item w-100 h-auto" src="@bkmk.Image"></iframe>
                </div>
            }
            else
            {
                <img class="img-fluid" src="@bkmk.Image" alt="Poza Bookmark"></img>
            }

            <div class="card-body">

                <h5 class="card-title"> @bkmk.Title </h5>

                <br />

                <div class="d-flex justify-content-between">
                    <!-- vrem o afisare draguta a "cu cat timp in urma a fost postat bookmarkul" -->
                    @{
                        var time = DateTime.Now - bkmk.Date;
                        if (time.Days >= 1)
                        {
                            if (time.Days > 1)
                                ViewBag.Time = (time.Days).ToString() + " days";
                            else ViewBag.Time = (time.Days).ToString() + " day";
                        }
                        else if (time.Hours >= 1)
                        {
                            if (time.Hours > 1)
                                ViewBag.Time = (time.Hours).ToString() + " hours";
                            else ViewBag.Time = (time.Hours).ToString() + " hour";
                        }
                        else
                        {
                            if (time.Minutes == 1)
                                ViewBag.Time = (time.Minutes).ToString() + " minute";
                            else ViewBag.Time = (time.Minutes).ToString() + " minutes";
                        }
                        ViewBag.Time = ViewBag.Time + " ago";
                    }
                    <p> @ViewBag.Time </p>
                    <!-- nu cred ca vr neaprat sa le afisez in index - acum e ok, sa vd
                    daca chiar mg filtrul =) -->
                    <p> @(bkmk.NrVotes + " votes")</p>
                </div>

            </div>

        </div>
        <br />
    }

</div>