@using Microsoft.AspNetCore.Identity
@using SocialBookmarkingReborn.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav d-flex align-content-center">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            @* am comentat linkul care ne duce in partea de manage your account*@
            @*<a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>*@
           
            @if (@UserManager.GetUserAsync(User).Result.ProfileImage != null)
            {
                <a asp-controller="ApplicationUsers" asp-action="Show"
                   asp-route-id="@UserManager.GetUserId(User)" title="Manage">
                    <img class="img-fluid rounded-circle meniu_pic" src="@UserManager.GetUserAsync(User).Result.ProfileImage" />
                </a>
            }
            else
            {
                <a class="nav-link text-dark" asp-controller="ApplicationUsers" asp-action="Show" asp-route-id="@UserManager.GetUserId(User)" title="Manage"> Hello @User.Identity?.Name! </a>
            }

    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link btn btn-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
